:host{

    @keyframes expandable {
        from { width: 1px; height: 1px; border-bottom-right-radius: 1000px;}
        to { width: 100vw; height: 100vw; border-radius: 0}
    }

    div.background{
        position: absolute;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        div.layer{
            background-color: red;
            width: 100vw;
            height: 100vh;
            background-color: red;
            animation-name: expandable;
            animation-duration: 1.4s;
            animation-timing-function: ease;
        }
    }

    div.main{

        div.header{
            display: grid;
            grid-template-columns: 20vw auto 50vw;
        }
    }

    
}