:host{

    @keyframes expandable {
        from { width: 1px; height: 1px; border-bottom-right-radius: 1000px;}
        to { width: 100vw; height: 100vw; border-radius: 0}
    }

    .drawer-container{
        height: 100vh;
    }

    div.background{
        position: absolute;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        div.layer{
            background-color: red;
            width: 100vw;
            height: 100vh;
            background-color: red;
            animation-name: expandable;
            animation-duration: 1.4s;
            animation-timing-function: ease;
        }
    }

    div.loader{
        padding: 15px;
    }

    div.main{

        .mat-drawer-container{
            background-color: transparent;
        }

        div.header{
            display: grid;
            grid-template-columns: 20vw auto 20vw;
        }

        div.mid{
            color: #FFF;
            position: relative;
            h2{
                margin: 2rem;
                font-size: 2rem;
            }
        }
    }

    
}