<div class="main">

    <div class="wellcome" *ngIf="isValid">
        <h3>Ola novamente!</h3>
        <p>Insira sua nova senha:</p>
    </div>

    <br/>
    <div class="form">
        <div *ngIf="isValid">
            <div>
                <input type="password" id="txtPassword" placeholder="Senha" [(ngModel)]="password" [ngClass]="{error: getErrorField('password')}" (keyup)="clearErrors()"/>
                <span *ngIf="getErrorField('password')" class="error">{{getErrorMessage('password')}}</span>
            </div>
            <div>
                <input type="password" id="txtPassword" placeholder="Repita a Senha" [(ngModel)]="retypePassword" [ngClass]="{error: getErrorField('retypePassword')}" (keyup)="clearErrors()"/>
                <span *ngIf="getErrorField('retypePassword')" class="error">{{getErrorMessage('retypePassword')}}</span>
            </div>
    
            <br/>
    
            <button (click)="resetPassword()">Definir nova senha</button>
           
        </div>
    
        <br/><br/>
        <div class="links">
            <a routerLink="/register">Criar uma conta</a> | <a routerLink="/login">Fazer Login</a>
        </div>
    </div>
    

</div>