<div class="main">

    <div class="wellcome" *ngIf="!sent">
        <h3>Esqueci minha senha!</h3>
        <p>insira seu usu&aacute;rio (email):</p>
    </div>

    <br/>
    <div class="form">
        <div *ngIf="!sent">
            <div>
                <input type="text" id="txtEmail" placeholder="Usuario" [(ngModel)]="username" [ngClass]="{error: getErrorField('username')}" (keyup)="clearErrors()"/>
                <span *ngIf="getErrorField('username')" class="error">{{getErrorMessage('username')}}</span>
            </div>
    
            <br/>
    
            <button (click)="sendMail()">Enviar email</button>
           
        </div>

        <div class="success text-center" *ngIf="sent">
            <i class="fas fa-check-circle fa-2x"></i>
             
            <h2>Sucesso!</h2>
            <span>Uma nova senha foi gerada</span>
            <br/>
            <span>Verifique sua caixa de email</span>
        </div>
        
        <br/><br/>
        <div class="links">
            <a routerLink="/register">Criar uma conta</a> | <a routerLink="/login">Fazer Login</a>
        </div>
    </div>
    

</div>