<div class="main">

    <div class="form">
       
        <div class="success text-center" *ngIf="done">
            <i class="fas fa-check-circle fa-2x"></i>
             
            <h2>Sucesso!</h2>
            <p>Sua conta agora est&aacute; desbloqueada!</p>
            <p>Recomendamos que voc&ecirc; troque sua senha rapidamente por seguran&ccedil;a</p>
            <p><a routerLink="/login">Clique aqui</a> para fazer o login.</p>
            <p>Se voc&ecirc; esqueceu sua senha,<a routerLink="/forgot-password">Clique aqui</a> para definir uma nova.</p>
        </div>
        
        <br/><br/>
        <div class="links">
            
        </div>
    </div>
    

</div>