:host{
    color: #FFF;

    p{
        font-weight: bolder;
    }

    mat-icon.money{
        font-size: 3rem;
        vertical-align: text-bottom
    }
    .money{
        font-size: 2rem;
    }

    div.history{
        display: grid;
        grid-template-columns: 50% 50%;;
    }

    span.juros{
        
    }
}